<table id="template" style="display: none;">
    <tr>
        <td class="text-left col-sm-4">
            <input type="hidden" name="zsuradnikViewModels.Index" value="--SuradnikId--" />
            <input type="text" hidden name="zsuradnikViewModels[--SuradnikId--].Suradnik.SuradnikId" value="--SuradnikId--" />
            <input type="hidden" name="zsuradnikViewModels[--SuradnikId--].Suradnik.Ime" value="--Ime--" />
            --Ime--
        </td>
        <td class="text-center col-sm-1">
            <input name="zsuradnikViewModels[--SuradnikId--].Suradnik.Prezime" class="form-control" value="--Prezime--" />
            --Prezime--
        </td>
        <td class="text-center col-sm-1">
            <input name="zsuradnikViewModels[--SuradnikId--].Suradnik.Email" class="form-control" value="--Email--" />
            --Email--
        </td>
        <td class="text-right col-sm-3">
            <input type="text" name="zsuradnikViewModels[--SuradnikId--].Suradnik.BrojMobitela" value="--BrojMobitela--" />
            --BrojMobitela--
        </td>
        <td>
            <button class="btn btn-sm btn-danger deleterow" title="Izbaci"><i class="fas fa-minus">Izbaci</i></button>
        </td>
    </tr>
</table>