@model RPPP_WebApp.Models.Transakcija

@{
    ViewData["Title"] = "Kartice Projekta";
}

<h3 class ="my-3">Promijeni transakciju </h3>
<form asp-action="Edit" method="post">
<div asp-validation-summary="ModelOnly"></div>

<div class ="form-group">
    <label asp-for = "SubjektIban"></label>
    <div><span asp-validation-for="SubjektIban" class =" text-danger"></span></div>
    <input asp-for="SubjektIban" class="form-control" />
</div>
<div class ="form-group mt-2">
    <label asp-for = "PrimateljIban"></label>
    <div><span asp-validation-for="PrimateljIban" class =" text-danger"></span></div>
    <input asp-for="PrimateljIban" class="form-control" />
</div>
<div class ="form-group mt-2">
    <label asp-for = "Iznos"></label>
    <div><span asp-validation-for="Iznos" class =" text-danger"></span></div>
    <input asp-for="Iznos" class="form-control" />
</div>
<div class ="form-group mt-2">
    <label asp-for = "DatumTransakcije"></label>
    <div><span asp-validation-for="DatumTransakcije" class =" text-danger"></span></div>
    <input asp-for="DatumTransakcije" class="form-control" />
</div>
<div class ="form-group mt-2">
    <label asp-for = "Opis"></label>
    <div><span asp-validation-for="Opis" class =" text-danger"></span></div>
    <input asp-for="Opis" class="form-control" />
</div>

<div class ="form-group mt-2">
    <label asp-for = "KarticaProjektaId"></label>
    <div><span asp-validation-for="KarticaProjektaId" class="text-danger"></span></div>
    <select asp-for="KarticaProjektaId" asp-items="ViewBag.kartice" class="form-control mt-2">
        <option value="0" selected>Odaberite karticu</option>
    </select>
</div>

<div class ="form-group mt-2">
    <label asp-for = "VrstaTransakcijeId"></label>
    <div><span asp-validation-for="VrstaTransakcijeId" class="text-danger"></span></div>
    <select asp-for="VrstaTransakcijeId" asp-items="ViewBag.VrsteTransakcije" class="form-control mt-2">
        <option value="0" selected>Odaberite vrstu transakcije</option>
    </select>
</div>



<button class="btn btn-primary mt-3" type="submit">Ažuriraj</button>
<a asp-action="Index" class="btn mt-3 btn-secondary">Odustani</a>

</form>