<table id="template" style="visibility:hidden">
    <tr>
        <td class="text-left col-sm-4">
            <input type="hidden" name="Zadatci.Index" value="--StatusZadatkaId--" />
            <input type="hidden" name="Zadatci[--StatusZadatkaId--].StatusZadatkaId" class="form-control" value="--StatusZadatkaId--" />
            <input type="hidden" name="Zadatci[--StatusZadatkaId--].StatusZadatka" class="form-control" value="--StatusZadatka--" />

            --StatusZadatka--
        </td>

        <td class="text-center col-sm-1">
            <input type="hidden" name="Zadatci[--StatusZadatkaId--].Opis" value="--Opis--" />

            --Opis--
        </td>

        <td>
            <button class="btn btn-sm btn-danger deleterow" title="Izbaci">Izbaci</button>
        </td>
    </tr>
</table>